<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>华师四少</title>
</head>
<body>
    <div style="width:300px;margin:0 auto; padding:20px 0;">
        <a target="_blank" href=" " style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
            <img src="/static/homepolice.png" style="float:left;"/>
            <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44060502001906号</p >
        </a>
    </div>
</body>
</html>